#####################################################
#
# List of approvers for KuiklyUI
#
#####################################################
#
# Learn about CODEOWNERS file format:
#  https://help.github.com/en/articles/about-code-owners
#

# universal files
* @wwwcg @iPel @hidawei @elixxli @ruifanyan @luoyibu @zenipchen
/README.md @hidawei
/buildSrc/ @elixxli
/androidApp/ @hidawei @elixxli
/core/ @iPel @hidawei
/compose/ @luoyibu @iPel @zenipchen
/core-annotations/ @elixxli
/core-kapt/ @elixxli
/core-ksp/ @elixxli
/core-render-android/ @iPel @hidawei
/core-render-ios/ @wwwcg
/core-render-web/ @gguoyu @xyc-cn @zealotchen0 @elixxli
/h5App/ @gguoyu @xyc-cn @zealotchen0 @elixxli
/miniApp/ @gguoyu @xyc-cn @zealotchen0 @elixxli
/demo/ @hidawei
/gradle/ @elixxli
/img/ @hidawei
/iosApp/ @wwwcg @luoyibu
/*.sh @elixxli @iPel
/*.gradle.kts @elixxli @iPel
/CODE_OF_CONDUCT.md @hidawei
/CONTRIBUTING.md @hidawei
/LICENSE @hidawei
/README* @hidawei
/OpenKuiklyIOSRender.podspec @wwwcg @luoyibu
/gradlew*  @elixxli @iPel
/.gitignore @iPel @hidawei







